

html {
    height: 100%;
}


body {
    display: flex;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;

}

.settings {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

input#colorPicker {
    border-radius: 5%;
    height:45px;
    width:45px;
    box-sizing: content-box;
    padding: 0;
 
}




.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    
}

h1, h2 {
    margin: 0;
    padding: 0;

}

h1 {
    margin-left: 100px;
}


.etch {
    height: 750px;
    width: 750px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}









button {
    font-size: 30px;
    width: 200px;
    height: 46px;
    border-radius: 25px;

}

